pre {
		margin: 2em;
		border: 1px solid #eee;
		background: #f5f2f0;
		position: relative;
		line-height: 150%;
	}
	.token.string {
		color: #690;
	}
	.token.punctuation {
		color: #999;
	}
	.token.keyword {
		color: #07a;
	}
	.token.comment {
		color: green;
		font-style: italic;
	}
	/* for line numbers */
	code[class*="language-"] {
		counter-reset: linenumber;
	}
	span.line{
		display: inline-block;
		width: 100%;
		counter-increment: linenumber;
	}
	span.line:nth-child(odd){
		background: #f0f0f0;
	}
	span.line:before{
		content: counter(linenumber);
		font-size: 100%;
		width: 2em;
		display: inline-block;
		font-weight: normal;
		color: black;
		border-right: 1px solid black;
		margin-right: 5px;
		padding-right: 5px;
		text-align: right;
	}
